{	

	"base_folder": "../logs/",

	// this can be a hgfc model name or path
	"tokenizer_name": "sshleifer/distilbart-cnn-6-6",
	"model_name": "../logs/train/run_6/ckpts/best",
	"quantize": false,

	"dataset_file": "../data/squad/processed/splits/eval.tsv",
	"max_src_len": 256,
	"max_tgt_len": 128,

	"dataset_batch_size": 8,

	// decoding hyperparameters
	"decoding_params": {

		"max_length": 142, // 142
		"min_length": 8, // 56
		
		"do_sample": false, //false; true for sampled decoding
		// "top_k": 50, // 50; set for sampling
		// "top_p": 1.0, // 1.0; set for sampling
		
		"num_beams": 4, // 4; 1 for greedy decoding
		"early_stopping": true, // true
		
		"temperature": 1, // 1
		
		"length_penalty": 1.0, // 2.0
		"repetition_penalty": 1.0, // 1.0
		"no_repeat_ngram_size": 3, // 3

	},

	// default gpu id
	"gpu_idx": 0,

}