{	

	"base_folder": "../logs/",

	// this can be a hgfc model name or path
	"tokenizer_name": "google/pegasus-xsum",
	"model_name": "google/pegasus-xsum",

	"dataset_dir": "../data/squad/processed/splits/",
	"max_src_len": 512,
	"max_tgt_len": 128,

	"learning_rate": 1e-3,
	"dataset_batch_size": 8,
	"num_epochs": 10,
	
	"num_evals_per_epoch": 20,

	// default gpu id
	"gpu_idx": 0,

}